@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600');
html {
  text-rendering: optimizeLegibility;
  background: #f1f3f4;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
input {
  border-radius: 5px;
  padding: 0.5rem 0.3rem;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1rem;
}
label {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
small {
  grid-column: 2 / 3;
  font-size: 0.7rem;
}
input,
button {
  grid-column: 2 / 3;
}
.submit {
  margin: 2rem auto;
  display: block;
  max-width: 150px;
}
@media (min-width: 2000px) {
  .wrapper {
    max-width: 1480px;
  }
}

@media (max-width: 800px) {
  .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
